body {
    background: linear-gradient(#0F4C75, #0B132B);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    display: inline;
    text-shadow: 0 0 10px #3BB273, 0 0 20px #3BB273;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.formContainer {
    text-align: center;
    background-color: #1B262C;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    margin-right: 20px;
}

label {
    color: #BBE1FA;
    font-size: 14px;
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #3BB273;
    color: #0B132B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

button:hover {
    background-color: #3282B8;
    color: #fff;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #3282B8;
    color: white;
}

td {
    background-color: #BBE1FA;
    color: #0B132B;
}

.delete-btn {
    background-color: #f0745e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff0800;
}


#productsTable tbody tr {
    background-color: #FFF;
    color: #000;
}

footer {
    color: #BBE1FA;
    margin-top: auto;
    padding: 20px;
    font-size: 14px;
}

#total {
    color: #BBE1FA;
    font-weight: 600;
}
